* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.nav {
  width: 80%;
  height: 142px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.nav_link {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.nav_link-item {
  font-family: OpenSans;
  font-size: 18px;
  text-align: left;
  color: #151618;
  text-decoration: none;
}
.nav_img-icon {
  margin-left: 20px;
}
.nav_gamburger {
  display: none;
}
.nav_gamburger-hrom {
  color: red;
  width: 40px;
  height: 2px;
  margin-bottom: 4px;
}

.head {
  width: 100%;
  height: 500px;
  background: url("../img/Group 91.jpg") center center/cover no-repeat;
}
.head_title-h {
  max-width: 789.5px;
  height: 120px;
  padding: 254px 0 0 200px;
  font-family: Cormorant;
  font-size: 50px;
  text-align: left;
  color: #fff;
}
.head_title-descr {
  max-width: 557.7px;
  height: 58px;
  padding: 10px 0 0 200px;
  font-family: Cormorant;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

main {
  width: 100%;
}
main .title {
  font-family: Cormorant;
  font-size: 35px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  color: #151618;
  margin-top: 150px;
  margin-bottom: 150px;
}
main .p_title {
  font-family: Cormorant;
  font-size: 35px;
  text-align: center;
  color: #151618;
  margin-bottom: 60px;
}
main .product {
  margin: 0;
}
main .product_card {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
main .product_card-item {
  width: 22.5%;
  display: flex;
  flex-direction: column;
}
main .product_card-item .img_item {
  width: 100%;
}
main .product_card-item .descr {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  color: #151618;
  margin-bottom: 150px;
}

section {
  width: 100%;
  min-height: 397px;
  background-color: #f7f2ea;
}
section .h2_title {
  padding-top: 60px;
  font-weight: 200;
  font-family: Cormorant;
  font-size: 35px;
  text-align: center;
  color: #151618;
  margin-bottom: 60px;
}
section .content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 26px;
}
section .content_items {
  width: 22.5%;
}
section .content_items-descr {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  text-align: left;
  color: #151618;
  margin-bottom: 10px;
}
section .content_items-autor {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #151618;
}

.block {
  width: 80%;
  min-height: 920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.block .title {
  margin-top: 100px;
  font-family: Cormorant;
  font-size: 40px;
  text-align: center;
  color: #151618;
}
.block .blog {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 58px;
}
.block .blog_item {
  margin-top: 60px;
  width: 45%;
  display: flex;
  gap: 20px;
}
.block .blog_item-img {
  width: 50%;
}
.block .blog_item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block .blog_item-wrapper .des {
  font-family: Cormorant;
  font-size: 24px;
  text-align: left;
  color: #151618;
}
.block .blog_item-wrapper .descr {
  margin-top: 10px;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  color: #151618;
  flex-grow: 1;
}
.block .blog_item-wrapper .descrpt {
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  color: #151618;
}
.block .blog_btn {
  margin-top: 60px;
  width: 149px;
  height: 51px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #151618;
  margin-bottom: 160px;
  border: solid 1px #151618;
}

.subscribe {
  min-height: 420px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  gap: 40px;
  background: url("../img/tea 1.png") right/45% no-repeat;
  background-color: #f7f2ea;
}
.subscribe_item {
  width: 35%;
}
.subscribe_item .form2 {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.subscribe_item .form2_title {
  font-family: Cormorant;
  font-weight: 300;
  font-size: 40px;
  text-align: left;
  color: #151618;
}
.subscribe_item .form2_text {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
  color: #151618;
}
.subscribe_item .form1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 100px;
}
.subscribe_item .form1-btn {
  width: 116px;
  height: 51px;
  border: solid 1px #151618;
  background-color: #fff;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #151618;
}
.subscribe_item .form1-in {
  margin-left: 10px;
  padding-top: 18px;
  background-color: #f7f2ea;
  border: 2px solid #f7f2ea;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
  color: #b8b58b;
}
.subscribe_item .form {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}
.subscribe_item .form_text {
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  color: #151618;
}
.subscribe_item hr {
  width: 400px;
  transform: rotate(-180deg);
  background-color: #b8b58b;
}

.prioritise_title {
  margin-top: 130px;
  font-family: Cormorant;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  color: #151618;
  margin-bottom: 60px;
}
.prioritise_items {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.prioritise_items .item {
  width: 25%;
  height: 178px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 150px;
}
.prioritise_items .item_title {
  font-family: OpenSans;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: #151618;
}
.prioritise_items .item_descr {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #151618;
}

.footer {
  background-color: #f7f2ea;
  padding-left: 200px;
  padding-right: 200px;
}
.footer .conteiner1 {
  min-height: 600px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.footer .conteiner1 .conteiner_items {
  width: calc((100% - 250px) / 4);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .conteiner1 .conteiner_items .item1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer .conteiner1 .conteiner_items .item1_title {
  margin-top: 100px;
  font-family: Cormorant;
  font-size: 24px;
  text-align: left;
  color: #151618;
  padding-bottom: 50px;
}
.footer .conteiner1 .conteiner_items .item1_link {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  color: #151618;
  padding-bottom: 20px;
  text-decoration: none;
}
.footer .conteiner1 .conteiner_items .item2 {
  margin-top: 100px;
}
.footer .conteiner1 .conteiner_items .item2_descr {
  padding-top: 79px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  text-align: left;
  color: #151618;
}
.footer .conteiner1 .conteiner_items .item2_text {
  margin-top: 20px;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #151618;
}
.footer .conteiner1 .conteiner_items .item2_title {
  margin: 0;
  font-family: Cormorant;
  font-size: 24px;
  text-align: left;
  color: #151618;
  padding-bottom: 50px;
}
.footer .conteiner1 .conteiner_items .item2_descr1 {
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  color: #151618;
  padding-bottom: 41px;
}
.footer .conteiner1 .conteiner_items .item2_compani .compani1 {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.footer .conteiner1 .conteiner_items .item2_compani .compani1_adres {
  display: block;
}
.footer .conteiner1 .conteiner_items .item2_compani .compani1_adres .adres, .footer .conteiner1 .conteiner_items .item2_compani .compani1_adres .tel {
  display: flex;
  gap: 15px;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  color: #151618;
  padding-top: 20px;
}
.footer .conteiner1 .conteiner_items .item2_icon {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

@media (max-width: 1000px) {
  .head_title-h {
    padding-left: 0;
  }
  .head_title-descr {
    padding-left: 0;
  }
  section .content_items {
    width: 31.6666666667%;
  }
  section .content .cl4 {
    display: none;
  }
  .subscribe {
    flex-direction: column;
  }
  .subscribe_item {
    width: 70%;
  }
  .subscribe_item .form2 {
    min-height: 280px;
  }
  .subscribe_item .form2_title {
    text-align: center;
  }
  .subscribe_item .form2_text {
    text-align: center;
  }
  .prioritise_items {
    padding: 0;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 0px;
  }
  .footer {
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 30px;
  }
  .footer .conteiner1 .wd1 {
    width: 15%;
  }
  .footer .conteiner1 .wd2 {
    width: 30%;
  }
  .prioritise_items .item {
    width: calc((100% - 50px) / 2);
  }
  .nav_link {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .nav {
    justify-content: space-around;
    width: 100%;
  }
  .nav_link {
    display: none;
  }
  .nav_gamburger {
    width: 30%;
    display: block;
    color: red;
  }
  .nav_gamburger-hrom {
    margin-left: 30px;
    background: #000;
    width: 40px;
    height: 2px;
    margin-bottom: 4px;
  }
  .head {
    width: 100%;
  }
  .head_title-h {
    max-width: 100%;
    font-size: 50px;
  }
  .head_title-descr {
    max-width: 100%;
  }
  main .product_card {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 35px;
    margin-bottom: 150px;
  }
  main .product_card-item {
    width: 30%;
  }
  main .product_card .descr {
    margin-bottom: 0;
  }
  section .content {
    flex-wrap: wrap;
    padding-bottom: 82px;
  }
  section .content_items {
    width: 47.5%;
  }
  section .content .cl4 {
    display: block;
  }
  .block .blog {
    flex-direction: column;
  }
  .block .blog_item {
    width: 80%;
  }
  .block .blog:nth-child(odd) {
    align-items: flex-start;
  }
  .block .blog:nth-child(even) {
    align-items: flex-end;
  }
}/*# sourceMappingURL=styles.css.map */