.block
    min-width: 1900px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    padding-bottom: 150px
    
    .title
        font-family: Cormorant
        font-size: 40px
        text-align: center
        color: #151618
        margin-top: 100px
        padding-bottom: 60px
    
.blog
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    min-width: 1200px
    &_item
        max-width: 540px 
        max-height: 180px       
        display: flex
        padding-bottom: 40px
        &-wrapper
            padding-left: 20px
            display: flex
            flex-direction: column
            justify-content: space-between
            .des
                font-family: Cormorant
                font-size: 24px
                text-align: left
                color: #151618
            .descr
                font-family: OpenSans
                font-size: 13px
                font-weight: 300
                text-align: left
                color: #151618
            .descrpt
                font-family: OpenSans
                font-size: 13px
                font-weight: 300
                text-align: left
                color: #151618
    &_btn
        margin-top: 60px
        width: 149px
        height: 51px
        border: solid 1px #151618
        background-color: #fff
        