main
    margin-top: 250px
    min-width: 1900px
    
    
.title
    font-family: Cormorant
    font-size: 40px
    font-weight: 300
    font-style: italic
    text-align: center
    color: #151618
.product
    padding-top: 150px
    &_title
        font-family: Cormorant
        font-size: 40px
        text-align: center
        color: #151618
    &_card
        padding-top: 60px
        width: 80%
        padding-left: 120px
        display: flex
        justify-content: space-around
        .descr
            font-family: Cormorant
            font-size: 24px
            text-align: center
            color: #151618
            margin-bottom: 150px
