.head    
    padding-top: 50px
    .conteiner
        margin: 0 auto
        width: 1200px
        padding-left: 200px
    &_fon
        left: 0
        position: absolute
        width: 1600px
        object-fit: cover
    &_title
        position: relative
        &-h
            width: 790px
            font-family: Cormorant
            font-size: 60px
            line-height: 1
            text-align: left
            color: #fff
            padding-top: 254px
        &-descr
            width: 560px
            font-family: Cormorant
            font-size: 24px
            text-align: left
            color: #fff
            padding-top: 20px
