@media (max-width: 1000px)
    .head
        &_title
            &-h
                padding-left: 0
            &-descr
                padding-left: 0
    section
        .content
            &_items
                width: calc( 95% / 3)
            .cl4
                display: none
    .subscribe
        flex-direction: column
        &_item
            width: 70%
            .form2
                min-height: 280px
                &_title
                    text-align: center
                &_text
                    text-align: center
    .prioritise
        &_items
            padding: 0
            flex-wrap: wrap
            column-gap: 50px
            row-gap: 0px
    .footer 
        justify-content: space-around
        align-items: center
        padding-left: 20px
        padding-right: 30px  
        .conteiner1
            .conteiner_items 
            .wd1
                width: 15%
            .conteiner_items
            .wd2
                width: 30%