.nav
    width: 1200px
    height: 142px
    margin: 0 auto
    display: flex
    flex-direction: row
    justify-content: space-between
    padding-top: 30px
    &_link
        padding-top: 65px
        &-item
            text-decoration: none
            font-family: OpenSans
            font-size: 18px
            text-align: left
            color: #151618
            padding-left: 70px
    &_img
        padding-top: 60px
        &_icon
            padding-left: 20px
    &_lup
        width: 22px