.prioritise
    min-width: 1900px
    &_title
        margin-top: 150px
        font-family: Cormorant
        font-size: 40px
        text-align: center
        color: #151618
        padding-bottom: 60px
    &_items
        display: flex
        justify-content: space-evenly
        .item
            display: flex
            flex-direction: column
            align-items: center
            &_title
                font-family: OpenSans
                font-size: 30px
                font-weight: 300
                text-align: center
                color: #151618
                margin-bottom: 10px
            &_descr
                font-family: OpenSans
                font-size: 20px
                font-weight: 600
                text-align: center
                color: #151618
                margin-bottom: 40px
            &_img
                margin-bottom: 150px
