.subscribe
    background-color: #f7f2ea
    min-width: 1900px
    min-height: 420px
    display: flex
    justify-content: center
    align-items: center
    gap: 20px
    &_item
        margin-top: 100px
        max-width: 580px
        max-height: 300px
        .form
            padding-top: 15px
            display: flex
            &_in
                margin-top: -35px
            &_text
                padding-left: 10px
            
        .form1
            display: flex
            justify-content: space-between
            &-in
                font-family: OpenSans
                font-size: 25px
                font-weight: 300
                text-align: left
                color: #b8b58b
                border: none
                margin-bottom: 5px
                border-bottom: 5px solid #f7f2ea
                background: transparent
            &-btn
                width: 116px
                height: 51px
                font-family: OpenSans
                font-size: 20px
                font-weight: 300
                text-align: center
                color: #151618
                background-color: #fff
        .form2
            &_title
                margin-top: -100px
                font-family: Cormorant
                font-size: 40px
                text-align: left
                color: #151618
            &_text
                padding-top: 50px
                ont-family: OpenSans
                font-size: 20px
                font-weight: 300
                line-height: 1.5
                color: #151618
        hr
            width: 440px